.div_container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 100%;
}

.div_container_inside {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
